In [2]:
import pandas as pd
import numpy as np
import scipy as sc
from random import randint
from scipy.spatial.distance import cdist

In [171]:
train = pd.read_csv('train.csv')
users = train.sort_values("user_id").groupby("user_id")['course_id'].apply(list)
courses = train.groupby("course_id")['user_id'].apply(list)
users[120]

[129, 1]

In [95]:
train['v'] = 10272*[1]
train = train.pivot(columns='course_id', index='user_id', values='v')
train = train.fillna(0)
train

course_id,1,3,5,6,7,8,9,10,12,13,...,225,227,228,229,234,235,237,238,246,252
user_id,,,,,,,,,,,,,,,,,,,,,
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
81,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
186668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
186835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
187554,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
x_train = np.array(train)

In [97]:
x_train

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [98]:
sample = pd.read_csv('sample_submission.csv')

In [137]:
users = np.array(sample['user_id'])

In [ ]:
a1 = []
a2 = []
a3 = []
for i in users:
    if i in train[1]:
        user = np.array(train.loc[i])*5+1
        #user1 = user.reshape((-1, 1)).repeat(4862, axis=1).T
        #a = np.sum((x_train-user)*(np.where(np.sum(np.where(x_train==user1, user1, 0), axis =1).reshape((-1, 1))>=0.9,1,0)), axis=0)
    else:
        user = np.zeros(171)+1
        #a = np.sum(x_train, axis=0)
        
    
        #a = np.sum(x_train, axis=0)
    cosdist = 1 - cdist(x_train*5+1, [user], metric='cosine')
    #cosdist = np.where(cosdist!=1, cosdist, 0)
    #cdists = cosdist[np.argmax(cosdist)].copy()
    #a = (x_train[np.argmax(cosdist)]*cosdist[np.argmax(cosdist)]).copy()
    #for i in range(200):
        #j = np.argmax(cosdist)
        #cosdist[j] = 0
        #cdists += cosdist[np.argmax(cosdist)]
        #a += x_train[np.argmax(cosdist)]*cosdist[np.argmax(cosdist)]
    #print(a/cdists - user+1)
    #cosdist = 1 - cdist(x_train, [user], metric='cosine')
    #cd = cosdist.repeat(171, axis=1)
    #cd = np.where(x_train>0, cd, 0)
    a = np.sum((x_train*5+1-user)*cosdist, axis=0)
    
    
    i1 = np.argmax(a)
    a[i1] = 0
    a1.append(train.columns[i1])
    i2 = np.argmax(a)
    a[i2] = 0
    a2.append(train.columns[i2])
    i3 = np.argmax(a)
    a[i3] = 0
    a3.append(train.columns[i3])

In [ ]:
ans = pd.DataFrame(users)[0]
ans1 = pd.DataFrame(a1)[0]
ans2 = pd.DataFrame(a2)[0]
ans3 = pd.DataFrame(a3)[0]

In [167]:
df = pd.concat([ans, ans1,ans2, ans3], axis=1)

In [168]:
df = df.set_axis(['user_id','course_id_1','course_id_2','course_id_3'], axis=1)

In [169]:
df

      user_id  course_id_1  course_id_2  course_id_3
0          78            7            1           15
1          81            7           15            3
2         120            7           15           34
3         123            7            1           15
4         150            7            1           15
...       ...          ...          ...          ...
2895   185864            7            1           15
2896   186262            7            1           15
2897   186691            7            1           15
2898   186887            7            1           15
2899   187206            7            1           15

[2900 rows x 4 columns]

In [170]:
df.to_csv('ans.csv')